.head ul{list-style-type: none; display: flex;}
.head li{margin: 25px;font-size:25px ;}
a{text-decoration: none;color: rgba(240, 248, 255, 0.684);border-bottom:1px solid white ;}
a:hover{color: white;}
body{background-image: url(wallpaperflare.com_wallpaper\ \(8\).jpg);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.profile{height:400px  ;width: 400px;margin-left:33%;border:8px solid white 
    ;outline:8px solid rgba(0, 0, 0, 0.775) ;margin-top:10% ;border-radius: 50%;}
.pers{background-color: rgba(0, 0, 0, 0.775);color: aliceblue;padding:40px
     ;text-align: justify;font-size:25px 
    ;height: auto;width: 1300px;margin: auto;}
    h2{text-align: center;}
    .pers{display: flex;}
    .info{margin-left:90px ;border-left:5px solid white ;padding: 20px;}
    .skills{background-color: rgba(0, 0, 0, 0.775);color: aliceblue;padding:40px
        ;text-align: justify;font-size:25px }
        .skills ul{list-style-type: none;size: 200%;display: flex;}
        .skills li {padding:30px ;}
        .icons{margin-left: 40px ;}
        .skills{background-color: rgba(0, 0, 0, 0.57);color: aliceblue;padding:40px;;
            height: 300px;width: 1300px;margin: auto;text-align: center;font-size:25px}
        .certification{background-color: rgba(0, 0, 0, 0.775);color: aliceblue;padding:40px
            ;height: auto;width: 1300px;margin: auto;text-align: center;font-size:25px}
.certification ul {display: flex;list-style-type: none;}
.certification li {margin-right:auto ;}
.about{background-color: rgba(0, 0, 0, 0.775);color: aliceblue;padding:40px
    ;height: auto;width: 1300px;margin: auto;text-align: center;font-size:25px}
    .foot{width:100% ;height:auto ;background-color: black;color: aliceblue;}
    .foot ul{list-style-type: none;display: flex ;text-decoration: none;}
    .foot li i{text-decoration: none;}
    .foot li  {padding: 30px;margin-left:40px ;}
    a{text-decoration: none;}
html {
  scroll-behavior: smooth;
}
.slider {
    width: 1000px;
    height: 600px;
    background-color: rgba(255, 255, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 4000px;
    background-color: rgba(255, 192, 203, 0);
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -1000px;
  }
  #slide-3:target ~ .image-container {
    left: -2000px;
  }
  #slide-4:target ~ .image-container {
    left: -3000px;}
  .buttons {
    position: relative;
    top: -30px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.349);
  }
